In [11]:
import psycopg2

conn = psycopg2.connect(
    dbname="testdb",
    user="postgres",
    password="@miNDs7878$",
    host="localhost",
    port="5432"
)

cur = conn.cursor()
cur.execute("SELECT version();")
print(cur.fetchone())

('PostgreSQL 17.5 on x86_64-windows, compiled by msvc-19.44.35209, 64-bit',)

In [12]:
cur.execute("""CREATE TABLE cars (
  brand VARCHAR(255),
  model VARCHAR(255),
  year INT
);""")

In [13]:
cur.execute("""INSERT INTO cars (brand, model, year)
VALUES ('Ford', 'Mustang', 1964);""")

In [14]:
cur.execute("SELECT * FROM cars")

In [15]:
print(cur.fetchone())

('Ford', 'Mustang', 1964)

In [16]:
cur.close()
conn.close()